<p>Salve <%= @utente.nome %>,</p>
<p>Il suo account sul sistema gestionale ERAMUS è stato creato con successo.</p>
<p>Username: <strong><%= @utente.username %></strong></p>
<p>Cordiali saluti, Team ERAMUS</p>