<p>Salve <%= @utente.nome %>,</p>
<p>Clicca sul link per reimpostare la password (valido 1 ora):</p>
<p><a href="<%= @reset_url %>"><%= @reset_url %></a></p>
<p>Se non hai richiesto il reset, ignora questa email.</p>
<p>Cordiali saluti, Team ERAMUS</p>